{% extends "PalexBlogBundle::layout.html.twig" %}
{% block page_title %}Welcome to my blog!{% endblock %}
{% block content %}
    <div class="row">
        {% for post in posts %}
            <div class="blog-post">
                <a href="{{ path('palex_blog_post',{'category': post.category.slug ,'slug': post.slug } ) }}">
                    <h2 class="blog-post-title">{{ post.title }}</h2>
                </a>
                <img style="max-width: 800px" class="img-rounded" src="{{ asset('uploads/images/' ~post.image) }}">
                <p>{{ post.content|cut(150) }}</p>
                <span>{{ post.dataCreated|date('Y-m-d H:i:s') }}</span><br>
                <span>{{ post.author }}</span>
            </div>
            <hr>
        {% endfor %}
        {# total items count #}
        <div class="count">
            {{ pagination.getTotalItemCount }}
        </div>
        <table>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
            </tr>

            {# table body #}
            {% for article in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.date | date('Y-m-d') }}, {{ article.time | date('H:i:s') }}</td>
                </tr>
            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
